<div id="dynamodb">

	<p>This is the DynamoDB route, for testing purposes:</p>

<div class="container">
		<table class="table-condensed table-bordered">
	  <tr>
	    <th class="item-label">Label</th>
	    <th class="download"></th>
	    <th class="item-type hidden-xs">Type</th>
	    <th class="item-tags">Tags</th>
	  </tr>
	  <tr ng-repeat="item in dynamodb.fullDynDBData">
	    <td class="item-label">{{item.FileName.S}}</td>
	    <td class="download"><a href="/{{item.FileType}}s/{{item.FileName}}" class="{{item.FileType}}"></a></td>
	    <td class="item-type hidden-xs">{{item.FileType.S}}</td>
	    <!-- <td><a href="{{item.location}}">{{item.label}}</a></td> -->
	    <td class="item-tags"><div>{{item.FileTags.S}}</div></td>
	  </tr>
	</table>	
</div>

<div class="container">

	<input ng-model="dynamodb.key" type="text" name="payloader"/>

	<button id="searchDYNAMO" class="btn btn-default" ng-click="dynamodb.queryAction()">Query Item</button>

	<button id="CLICKERDYNAMO" class="btn btn-default" ng-click="dynamodb.deleteAction()">Delete Item</button>

</div>



<div class="container">
	<p>{{dynamodb.queriedItem}}</p>
</div>

<div class="container">
	<form id="uploadForm" method="get" accept-charset="utf-8" ng-submit="dynamodb.populate()">
	    <label for="fileLabel">File Name:</label>
	    <input type="text" ng-model="dynamodb.newItem.FileName"/>
	    <label for="fileDescription">File Description:</label>
	    <input type="text" ng-model="dynamodb.newItem.FileDescription"/>
	    
	    <label for="fileDate">File Date:</label>
	    <input type="date" ng-model="dynamodb.newItem.FileDate"/>
		<label for="filetype">File Type:</label>
		<div class="radio">
			<ul class="radio">
				<li class="radio-item1"><input type="radio" name="fileType" ng-model="dynamodb.newItem.FileType" value="ebextension" >ebextension</li>
				<li class="radio-item2"><input type="radio" name="filetype" ng-model="dynamodb.newItem.FileType" value="script">script</li>
				<li class="radio-item3"><input type="radio" name="filetype" ng-model="dynamodb.newItem.FileType" value="package">package</li>
			</ul>
		</div>
		<label for="fileTags">Tags:</label>
		<input type="text" ng-model="dynamodb.newItem.FileTags" />
		<label for="file-chooser">File To Upload:</label>
		<input type="file" id="file-chooser" /> 
		<button id="upload-button" class="btn btn-default">Populate DynamoDB</button>
		<br>
	</form>
	
</div>
	
</div>